.footer{
    background: #E5E9EA;
    padding: 4.375em 5.625em; 
}

.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2.5em; 
}

.footer-section{
    flex: 1 1 15.625em; 
}

.footer-section h2{
    font-size: 1.875rem; 
    margin-bottom: 0.9375em; 
}

.footer-section h3{
    font-size: 1.125rem; 
    margin-bottom: 0.9375em; 
}

.footer-section p{
    color: #666;
    line-height: 1.8;
}

.footer-section a{
    display: block;
    text-decoration: none;
    color: #686565;
    margin-bottom: 0.625em; 
    transition: 0.3s;
}

.footer-section a:hover{
    color: #555;
    padding-left: 0.3125em;
}

.social-icons{
    margin-top: 1.25em; 
    display: flex;
    gap: 0.9375em; 
}

.social-icons i {
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.375rem;
}

.social-icons i:hover{
    color: gray;
}

.footer hr{
    margin: 2.1875em 0 1.25em; 
    border: none;
    border-top: 1px solid rgba(0,0,0,0.1); 
}

.copyright{
    text-align: center;
    font-size: 0.9375rem; 
}

@media (max-width: 768px){
    .footer-container{
        text-align: center;
        justify-content: center;
    }
    .footer-section{
        flex: 1 1 100%;
    }
    .social-icons{
        justify-content: center;
        display: flex;
        gap: 0.9375em; 
    }
}

@media (max-width: 480px){
    .footer-container{
        gap: 1.5625em; 
    }
    .footer p, .footer a{
        font-size: 0.875rem; 
    }
}