<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/styles/collections.css">
    <link rel="stylesheet" href="/styles/nav.css">
    <title>Minimalist | Collections</title>

</head>

<body>
    <nav class="my-navbar">

    <div class="logo">
        <h2>Minimalist</h2>
    </div>

    <ul class="nav-links">
        <li><a href="#">Shop</a></li>
        <li><a href="#">Best Sellers</a></li>
        <li><a href="#">Skin Care</a></li>
        <li><a href="#">Hair Care</a></li>
        <li><a href="#">AI Assistants</a></li>
        <li><a href="#">Track Order</a></li>
        
    </ul>

    

    <div class="nav-right">

        <a href="/views/collectionPage.html" class="icon">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>

        <a href="/views/loginPage.html" class="icon">
            <i class="fa-solid fa-user"></i>
        </a>

    </div>
    <div class="menu-toggle">
        <i class="fa-solid fa-bars"></i>
    </div>

</nav>
<div class="collection-page">
    <div class="sidebar">
    <!-- Sort -->
    <div class="filter-section">
        <label class="filter-title">Sort by:</label>

        <select class="sort-select">
            <option>Best selling</option>
            <option>Featured</option>
            <option>Newest</option>
            <option>Price: Low to High</option>
            <option>Price: High to Low</option>
        </select>
    </div>

    <!-- Category -->
    <div class="filter-section">
        <h3>Category</h3>

        <label class="checkbox">
            <input type="checkbox">
            <span>Skin </span>
        </label>

        <label class="checkbox">
            <input type="checkbox">
            <span>Body </span>
        </label>
    </div>

    <!-- Step -->
    <div class="filter-section">
        <h3>Step</h3>

        <label class="checkbox">
            <input type="checkbox" checked>
            <span>Cleanse</span>
        </label>

        <label class="checkbox">
            <input type="checkbox" checked>
            <span>Tone </span>
        </label>

        <label class="checkbox">
            <input type="checkbox">
            <span>Treat </span>
        </label>

        <label class="checkbox">
            <input type="checkbox">
            <span>Moisturize </span>
        </label>

        <label class="checkbox">
            <input type="checkbox">
            <span>SPF</span>
        </label>
    </div>

    <!-- Type -->
    <div class="filter-section">
        <h3>Type of Product</h3>

        <label class="checkbox">
            <input type="checkbox">
            <span>Toner</span>
        </label>

        <label class="checkbox">
            <input type="checkbox">
            <span>SPF </span>
        </label>

        <label class="checkbox">
            <input type="checkbox" >
            <span>Body Lotion </span>
        </label>

        <label class="checkbox">
            <input type="checkbox">
            <span>Combo Kit</span>
        </label>
    </div>

</div>
<div class="product-container">
    <h2>Our Collections</h2>
<div class="products">
   <div class="card">
        <div class="image">
            <img src="/src/assets/VitaminC.jpg" alt="Product">

        </div>
    <h3>VitaminC 10% Face Serum</h3>

    <p>Dullness, Spots & Loss of Elasticity</p>

    <h4>$299</h4>

    <button>Add to Cart</button>

    </div>
    <div class="card">
        <div class="image">
            <img src="/src/assets/VitaminC.jpg" alt="Product">

        </div>
    <h3>VitaminC 10% Face Serum</h3>

    <p>Dullness, Spots & Loss of Elasticity</p>

    <h4>$299</h4>

    <button>Add to Cart</button>

    </div>
    <div class="card">
        <div class="image">
            <img src="/src/assets/Moisturizer.jpg" alt="Product">

        </div>

    <h3>Vitamin B5 Moisturizer</h3>

    <p>Damaged Barrier, Oily & Dehydrated</p>

    <h4>$349</h4>
        <button>Add to cart</button>

    </div> 

    <div class="card">

    <div class="image">
        <img src="/src/assets/Moisturizer.jpg" alt="Product">

    </div>

    <h3>Vitamin B5 Moisturizer</h3>

    <p>Damaged Barrier, Oily & Dehydrated</p>

    <h4>$349</h4>
        <button>Add to cart</button>

    </div>

    <div class="card">

    <div class="image">
        <img src="/src/assets/Moisturizer.jpg" alt="Product">

    </div>

    <h3>Vitamin B5 Moisturizer</h3>

    <p>Damaged Barrier, Oily & Dehydrated</p>

    <h4>$349</h4>
        <button>Add to cart</button>

    </div>

    <div class="card">

    <div class="image">
        <img src="/src/assets/Moisturizer.jpg" alt="Product">

    </div>

    <h3>Vitamin B5 Moisturizer</h3>

    <p>Damaged Barrier, Oily & Dehydrated</p>

    <h4>$349</h4>
        <button>Add to cart</button>

    </div>

    <div class="card">

    <div class="image">
        <img src="/src/assets/Moisturizer.jpg" alt="Product">

    </div>

    <h3>Vitamin B5 Moisturizer</h3>

    <p>Damaged Barrier, Oily & Dehydrated</p>

    <h4>$349</h4>
        <button>Add to cart</button>

    </div>

    </div>

    


</div>
</div>

    
<script>
    const priceRange = document.getElementById("priceRange");
const priceValue = document.getElementById("priceValue");

priceRange.addEventListener("input", () => {

    priceValue.textContent = "$" + priceRange.value;

});
</script>
</body>
</html>