<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
     <link rel="stylesheet" href="/styles/style.css">
     <link rel="stylesheet" href="/styles/nav.css">
     <link rel="stylesheet" href="/styles/products.css">
     <link rel="stylesheet" href="/styles/footer.css">
     <link rel="stylesheet" href="/styles/about.css">
     <link rel="stylesheet" href="/styles/question.css">
     <link rel="stylesheet" href="/styles/download.css">
     
    <title>Minimalist Store</title>
</head>

<body>
<nav class="my-navbar">

    <div class="logo">
        <a href="/views/user.html">
            <h2>Minimalist</h2>
        </a>
    </div>

    <ul class="nav-links">
        <li><a href="/views/shopPage.html">Shop</a></li>
        <li><a href="/views/collectionPage.html">Best Sellers</a></li>
        <li><a href="/views/skinCarePage.html">Skin Care</a></li>
        <li><a href="/views/hairCarePage.html">Hair Care</a></li>
        <li><a href="#">Track Order</a></li>
    </ul>

    

    <div class="nav-right">

        <a href="#" class="cart-icon" id="cart-icon">
            <i class="fa-solid fa-cart-shopping"></i>
            <span id="cart-count">0</span>
        </a>

        <a href="/views/UserProfile.html" class="icon">
            <i class="fa-solid fa-user"></i>
        </a>

    </div>
    <div class="menu-toggle">
        <i class="fa-solid fa-bars"></i>
    </div>

</nav>

<section id="home">

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/src/assets/slide2.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/src/assets/slide3.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/src/assets/slide4.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</section>

<section id="product">
<div class="products-section">
    <h2>Our Best Sellers</h2>
<div class="products" id="products-container">
    </div>

    <div class="button1">
        <button onclick="window.location.href='/views/collectionPage.html'">View all products</button>
    </div>


</div>
</section>

<section id="about">
    <div class="about">

    <h1 class="about-title">About Our Brand</h1>

    <div class="about-container">

        <div class="about-image">
            <img src="/src/assets/about.jpeg" alt="Minimalist Skincare Product">
        </div>

        <div class="about-text">

            <h2>Grower To Glass</h2>

            <p>
                Minimalist is a high-performance skincare brand rooted in scientific
                research. Founded in 2020, we believe skincare should be transparent,
                effective, and backed by science rather than marketing.

                Our range includes cleansers, serums, moisturizers, and sunscreens
                that target concerns such as acne, pigmentation, ageing,
                dehydration, and hair care.
            </p>

        </div>

    </div>

    <div class="about-cards">

        <div class="card-box">
            <h2>Our Vision</h2>
            <p>
               Our vision is to become a trusted skincare brand known for honesty, innovation, and customer satisfaction. We aim to inspire people to make informed skincare choices by offering products that combine scientific research with everyday simplicity.
            </p>
        </div>

        <div class="card-box">
            <h2>Our Values</h2>
            <p>
               At Minimalist, our values are built on transparency, quality, and integrity. We believe in using proven ingredients, delivering honest information, and putting our customers' needs first. We are dedicated to continuous innovation, sustainability, and creating skincare that is both effective and accessible for everyone.
            </p>
        </div>

        <div class="card-box">
            <h2>Our Missions</h2>
            <p>
                Our mission is to create simple, effective, and science-backed skincare products that everyone can trust. We are committed to using high-quality ingredients, maintaining complete transparency, and providing solutions that help people achieve healthy, confident skin without unnecessary complexity.
            </p>
        </div>

    </div>

</div>
</section>

<div class="questions" id="questions-container">
    <div class="faq-title">
<h1> FAQs </h1>
<p>
    Minimalist are known for their active use of essential oils.
     While their skincare is scientifically formulated in a way that should be safe and effective, some people might still have an allergic reaction to it.
</p>
    </div>

<div class="card-body" id="questions-container">

</div>
   

</div>

<div class="download_container">
<div class="down_img">
    <img src="/src/assets/download.jpg" alt="download"> 
</div>
<div class="down_text">
<h1>Download Our New App</h1>
<ul>
    <li>Track your orders</li>
    <li>Get in touch with Skincare experts</li>
    <li>Save your routine</li>
    <li>Get special offers & discounts</li>
</ul>
<div class="down_button">
        <button>Playstore</button>
    </div>
</div>


</div>

<footer class="footer">

    <div class="footer-container">
       
        <div class="footer-section">
            <h2>Minimalist</h2>
            <p>
                Clean, transparent skincare powered by science.
                Honest ingredients. Visible results.
            </p>
        </div>

        <div class="footer-section">
            <h3>ON OUR SITE</h3>

            <a href="#">About</a>
            <a href="#">Features</a>
            <a href="#">Support</a>
            
        </div>

        <div class="footer-section">
            <h3>RESOURCES</h3>

            <a href="#">Career</a>
            <a href="#">Blog</a>
            <a href="#">Legal</a>
            
        </div>

        
        <div class="footer-section">
            <h3>CONTACT</h3>

            <p>support@minimalistFom</p>
            <p>+977 9818768245</p>
            <p>Sanepa, Lalitpur</p>

            <div class="social-icons">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>
        </div>

    </div>

    <hr>

    <p class="copyright">
        © 2026 Minimalist. All Rights Reserved.
    </p>

</footer>

<div class="cart-overlay" id="cart-overlay"></div>
    <aside class="cart-drawer" id="cart-drawer">
        <div class="cart-drawer-header">
            <h3>Your Cart</h3>
            <button id="close-cart">&times;</button>
        </div>
        <ul class="cart-items" id="cart-items"></ul>
        <div class="cart-footer">
            <p id="cart-total">Total: रु.0</p>
            <button class="checkout-btn">Checkout</button>
        </div>

    </aside>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
<script>
const menu = document.querySelector(".menu-toggle");
const navLinks = document.querySelector(".nav-links");
const navRight = document.querySelector(".nav-right");
const icon = menu.querySelector("i");

menu.addEventListener("click", () => {

    navLinks.classList.toggle("active");
    navRight.classList.toggle("active");

    if (navLinks.classList.contains("active")) {
        icon.classList.remove("fa-bars");
        icon.classList.add("fa-xmark");
    } else {
        icon.classList.remove("fa-xmark");
        icon.classList.add("fa-bars");
    }
});
</script>
<script src="/js/products.js"></script>
<script src="/js/profile.js"></script>
<script src="/js/cart.js"></script>
<script src="/js/questions.js"></script>
</body>
</html>