*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

.about{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 70px 90px;
}

.about-title{
    text-align: center;
    font-size: 38px;
    margin-bottom: 50px;

}

.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
}

.about-image{
    flex: 1;
    min-width: 300px;
}

.about-image img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0,0,0,.12);
}

.about-text{
    flex:1;
    min-width: 300px;
}

.about-text h2{
    font-size: 32px;
    margin-bottom: 20px;

}

.about-text p{
    font-size: 17px;
    line-height: 1.8;
}

.about-cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 70px;
}

.card-box{
    width: 320px;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:0.3s;

}

.card-box:hover{
    transform: translateY(-5px);
}

.card-box h2{
    margin-bottom: 15px;
}

.card-box p{
    line-height: 1.7;
}

@media (max-width:768px){

    .about{
        padding: 60px 20px;
    }

    .about-title{
        font-size: 30px;
        margin-bottom: 35px;
    }

    .about-container{
        flex-direction: column;
        gap: 35px;
        text-align: center;
    }

    .about-text h2{
        font-size: 16px;
    }

    .about-text p{
        font-size: 16px;
    }

    .about-cards{
        gap: 20px;
        margin-top: 40px;
    }

    .card-box{
        width: 100%;
        max-width: 350px;
    }


}