*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

body{
  
    background: #E5E9EA;
}

.main-container {
    display: flex ;      
    flex-direction: row ; 
    align-items: center;            
    justify-content: space-between;     
    padding: 40px 90px;
                
}

.main-text-block {
    flex: 1;                        
    max-width: 1000px;               
    text-align: left;  
    font-size: 20px;
               
}
.main-text-block h2{
    font-size: 50px;
}

.main-text-block p{
    text-align: left;
    font-size: 18px;

}
.main-img-block {
    flex: 1.2;                        
    display: flex;
    justify-content: center;       
}

.main-img-block img {
    width: 100%;                    
    max-width: 700px;               
    height: auto;                   
}

.button {
    display: flex ;
    justify-content: flex-start; 
    margin-top: 30px;            
}

.button button {
    background: #222222;         
    color: #ffffff;              
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    
    padding: 12px 36px;
    border: 2px solid #222222;
    border-radius: 4px;          
    cursor: pointer;
    
    transition: all 0.3s ease-in-out;
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
}

.button button:hover {
    background: transparent;     
    color: #222222;              
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08); 
    transform: translateY(-2px); 
}

.button button:active {
    transform: translateY(0);    
}


@media (max-width:768px){

    .my-navbar{
        padding: 0 20px;
        height: 70px;
    }

    .logo h2{
        font-size: 22px;
    }

    .main-container{
        flex-direction: column;
        margin-left: 0;
        padding: 30px 20px;
        text-align: center;
    }

    .main-text-block{
        max-width: 100%;
        text-align: center;
    }

    .main-text-block h2{
        font-size: 35px;
    }

    .main-text-block p{
        font-size: 16px;
        text-align: center;
    }

    .main-img-block{
        margin-top: 30px;
    }

    .main-img-block img{
        width: 100%;
        height: auto;
    }

    .button{
        justify-content: center;
    }
}